/* This formatting is for index page only */
/* Will not effect other pages */

/* Sets index CSS variables */
:root {
  /* header background */
  --index-header: url(../images/carbon-fiber-header.jpg);
  /* About background */
  --about-bckgrd: url(../images/concrete.jpg);
}

/* Formats the box holding everything */
#everythingbox {
  width: 100vw;
}

#insulation {
  width: 100vw;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "hero" "main" "footer";
}

#see-more-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

#see-more-btn {
  height: 7rem;
  width: 10rem;
  opacity: 0;
  background-image: var(--red-button);
  background-size: 100% 100%;
  animation-name: stretch;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-delay: 10s;
}

@keyframes stretch {
  0% {
    width: 10rem;
    opacity: 0;
  }
  25% {
    width: 10rem;
    opacity: 0;
  }
  100% {
    width: 20rem;
    opacity: 1;
  }
}

#see-more-text {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hero {
  grid-area: hero;
  height: 100vh;
  background-image: var(--index-header);
  background-color: var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#logo-ball {
  width: 5rem;
  position: absolute;
  top: 2%;
  left: 2%;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  /* animation-delay: 2s; */
}

@keyframes move {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
  }
  50% {
    transform: translate(85vw, 90vh);
  }
  90% {
  }
}

#my-name {
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 5rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 12.5%;
  animation-name: name-spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 10s;
  transform-style: preserve-3d;
}

@keyframes name-spinner {
  10% {
    transform: rotateY(0deg);
  }
  12.5% {
    transform: rotateY(-360deg);
  }
  15% {
    transform: rotateY(0deg);
  }
  85% {
    transform: rotateY(0deg);
  }
  87.5% {
    transform: rotateY(-360deg);
  }
  90% {
    transform: rotateY(0deg);
  }
}

#designs {
  width: 100%;
  font-family: "Shadows Into Light", cursive;
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 30%;
  animation-name: designs-spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 10s;
  transform-style: preserve-3d;
  /* animation-delay: 2s; */
}

@keyframes designs-spinner {
  15% {
    transform: rotateY(0deg);
  }
  17.5% {
    transform: rotateY(360deg);
  }
  20% {
    transform: rotateY(0deg);
  }
  80% {
    transform: rotateY(0deg);
  }
  82.5% {
    transform: rotateY(360deg);
  }
  85% {
    transform: rotateY(0deg);
  }
}

#html {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 50%;
  animation-name: html-spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 10s;
  transform-style: preserve-3d;
  /* animation-delay: 2s; */
}

@keyframes html-spinner {
  25% {
    transform: rotateY(0deg);
  }
  27.5% {
    transform: rotateY(360deg);
  }
  30% {
    transform: rotateY(0deg);
  }
  70% {
    transform: rotateY(0deg);
  }
  72.5% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(0deg);
  }
}

#css {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 60%;
  animation-name: css-spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 10s;
  transform-style: preserve-3d;
  /* animation-delay: 2s; */
}

@keyframes css-spinner {
  30% {
    transform: rotateY(0deg);
  }
  32.5% {
    transform: rotateY(360deg);
  }
  35% {
    transform: rotateY(0deg);
  }
  65% {
    transform: rotateY(0deg);
  }
  67.5% {
    transform: rotateY(360deg);
  }
  70% {
    transform: rotateY(0deg);
  }
}

#js {
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 70%;
  animation-name: js-spinner;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 10s;
  transform-style: preserve-3d;
  /* animation-delay: 2s; */
}

@keyframes js-spinner {
  35% {
    transform: rotateY(0deg);
  }
  37.5% {
    transform: rotateY(360deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  62.5% {
    transform: rotateY(360deg);
  }
  65% {
    transform: rotateY(0deg);
  }
}

#css-animations {
  position: absolute;
  bottom: 2%;
  left: 2%;
  font-size: 0.75rem;
  color: var(--white);
}

#main {
  grid-area: main;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "nav" "about" "portfolio" "contact";
}

#page-nav {
  grid-area: nav;
  width: 100vw;
  background-color: silver;
}

#page-nav:hover .red-line {
  width: 100vw;
}

#nav-links {
  justify-content: space-around;
  list-style-type: none;
  padding: 1.5rem 0;
}

.nav-li {
}

.nav-page-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 1s;
}

.nav-page-link:hover {
  font-size: 1.2rem;
}

#home-link {
}

#about-link {
}

#portfolio-link {
}

#contact-link {
}

.red-line {
  width: 0vw;
  height: 1rem;
  background-image: url(../images/red-line.png);
  background-size: 100vw 100%;
  transition: all 1s;
}

#red-line-top {
  position: absolute;
  top: 0;
  left: 0;
}

#red-line-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section {
  width: 100vw;
}

/* About section */

#about {
  grid-area: about;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "heading" "collection" "avatar"
    "experience";
  padding: 3rem 1rem;
}

#about-heading {
  grid-area: heading;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#skill-icons-collection {
  grid-area: collection;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "fast responsive" "intuitive dynamic";
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
  padding: 2.5rem 0;
}

#fast {
  grid-area: fast;
}

#responsive {
  grid-area: responsive;
}

#intuitive {
  grid-area: intuitive;
}

#dynamic {
  grid-area: dynamic;
}

.skill-icon-box {
}

.skill-icon {
  width: 6rem;
  height: 6rem;
  background-image: var(--red-ball);
  background-size: 100% 100%;
}

.icons {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.skill-heading {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.skill-text {
}

#avatar-info-box {
  grid-area: avatar;
  justify-content: center;
  align-items: center;
}

#avatar-box {
  margin: 0 auto 2rem auto;
}

#avatar {
  max-width: 60vw;
  max-height: 60vh;
  border-radius: 50%;
  width: auto;
  height: 100%;
}

#info-box {
  padding: 2rem;
  text-align: center;
}

#info-box-heading {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

#info-box-text-1 {
  font-size: 1.15rem;
}

#info-box-text-2 {
  font-size: 1.15rem;
}

#info-text-link {
}

#skills-box {
  grid-area: experience;
  justify-content: center;
  align-items: center;
}

#skills-heading {
  font-size: 1.75rem;
  text-align: center;
  padding: 1rem;
}

#skills-chart {
}

.row-box {
  padding: 0.5rem 0;
}

.row-heading-box {
  width: 8rem;
}

.row-heading {
}

.circle-box {
}

.circle {
  padding: 0.25rem;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.orange {
  color: orangered;
}

.red {
  color: red;
}

.op {
  opacity: 0.2;
}

.level-box {
  padding-left: 1rem;
}

.level {
}

/* Portfolio section */

#portfolio {
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, auto);
  grid-template-areas: "heading" "svaldi" "faqs-accordian" "time-tracker" "interactive-rating" "intro-component" "ping-coming-soon" "bankist" "mapty";
  justify-content: center;
  align-items: center;
  background: url(../images/concrete.jpg) repeat center;
  background-color: black;
  text-align: center;
}

#portfolio-heading {
  grid-area: heading;
  width: 100%;
  font-size: 2.5rem;
  color: white;
  margin: 2rem 0;
}

#svaldi {
  grid-area: svaldi;
}

#faqs-accordian {
  grid-area: faqs-accordian;
}

#time-tracker {
  grid-area: time-tracker;
}

#interactive-rating {
  grid-area: interactive-rating;
}

#intro-component {
  grid-area: intro-component;
}

#ping-coming-soon {
  grid-area: ping-coming-soon;
}

#bankist {
  grid-area: bankist;
}

#mapty {
  grid-area: mapty;
}

.project-link {
  color: white;
  text-decoration: none;
  margin: 0 auto 2rem auto;
}

.project-card {
  margin: 0 auto 2rem auto;
  padding: 0.5rem 1rem;
}

.project-img {
  max-width: 70vw;
  max-height: 70vh;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.project-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.project-text {
  font-size: 1.25rem;
}

/* Contact section */

#contact {
}

/* RESPONSIVE CSS */

/* Changes settings at 768px screen size to 1023px screen size*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  @keyframes move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
    }
    50% {
      transform: translate(89vw, 85vh);
    }
    90% {
    }
  }

  #about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading heading" "collection collection" "avatar experience";
    padding: 3rem 1rem;
  }

  #skill-icons-collection {
    grid-template-columns: repeat(1, 25%);
    grid-template-rows: 100%;
    grid-template-areas: "fast responsive intuitive dynamic";
  }

  #avatar-box {
    max-width: 50%;
    max-height: 50vh;
    margin-bottom: 0;
  }

  #info-box {
    padding: 1rem 2rem;
  }

  .row-box {
    padding: 0.75rem 0;
  }

  #portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "heading heading" "svaldi faqs-accordian" "time-tracker interactive-rating" "intro-component ping-coming-soon" "bankist mapty";
    gap: 2rem;
    justify-items: start;
    align-items: start;
  }

  .project-link {
    margin: 0 auto;
  }

  .project-card {
    margin: 0 auto;
  }

  .project-img {
    max-width: 30vw;
    max-height: 70vh;
  }
}

/* Changes settings at 1024px to 1500px screen size */
@media only screen and (min-width: 1024px) and (max-width: 1500px) {
  @keyframes move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
    }
    50% {
      transform: translate(89vw, 85vh);
    }
    90% {
    }
  }

  #about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading heading" "collection collection" "avatar experience";
    padding: 3rem 1rem;
  }

  #skill-icons-collection {
    grid-template-columns: repeat(1, 25%);
    grid-template-rows: 100%;
    grid-template-areas: "fast responsive intuitive dynamic";
  }

  #avatar-box {
    max-width: 50%;
    max-height: 50vh;
    margin-bottom: 0;
  }

  #info-box {
    padding: 1rem 2rem;
  }

  .row-box {
    padding: 0.75rem 0;
  }

  #portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "heading heading" "svaldi faqs-accordian" "time-tracker interactive-rating" "intro-component ping-coming-soon" "bankist mapty";
    gap: 2rem;
    justify-items: start;
    align-items: start;
  }

  .project-link {
    margin: 0 auto;
  }

  .project-card {
    margin: 0 auto;
  }

  .project-img {
    max-width: 30vw;
    max-height: 70vh;
  }
}

/* Changes settings at 1501px screen size */
@media only screen and (min-width: 1501px) {
  @keyframes move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    10% {
    }
    50% {
      transform: translate(89vw, 85vh);
    }
    90% {
    }
  }

  #about {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "heading heading" "collection collection" "avatar experience";
    padding: 3rem 1rem;
  }

  #skill-icons-collection {
    grid-template-columns: repeat(1, 25%);
    grid-template-rows: 100%;
    grid-template-areas: "fast responsive intuitive dynamic";
  }

  #avatar-box {
    max-width: 50%;
    max-height: 50vh;
    margin-bottom: 0;
  }

  #info-box {
    padding: 1rem 2rem;
  }

  .row-box {
    padding: 0.75rem 0;
  }

  #portfolio {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "heading heading heading heading heading heading"
      "svaldi svaldi faqs-accordian faqs-accordian time-tracker time-tracker"
      "interactive-rating interactive-rating intro-component intro-component  ping-coming-soon ping-coming-soon" "bankist bankist bankist mapty mapty mapty";
    gap: 2rem;
    justify-items: start;
    align-items: start;
  }

  .project-link {
    margin: 0 auto;
  }

  .project-card {
    margin: 0 auto;
  }

  .project-img {
    max-width: 30vw;
    max-height: 70vh;
  }
}
